<a-scene *ngIf="loaded">
  <a-box position="0 3 -5"
    depth="0.2"
    width="5"
    height="0.5"
    rotation="0 0 0"
    scale="1 1 1 "
    color="#4CC3D9">

    <a-animation attribute="rotation"
    dur="1000"
    from="0 0 0"
    to="0 360 360"
    direction="alternate"
    repeat="indefinite"></a-animation>

    <a-sphere position="5 0 0"
    radius="1.25"
    color="#EF2D5E"></a-sphere>

    <a-sphere position="-5 0 0"
    radius="1.25"
    color="#EF2D5E"></a-sphere>
  
  </a-box>
  

 

  <a-plane
    material="src: ../assets/brick.png;
    repeat: 500 500;
    roughness: 0.8;
    normalMap: ../assets/brick-nrm.png;
    normalMapTextureRepeat: 500 500" 
    position="0 0 -4"
    rotation="-90 0 0"
    scale="1000 1000"
    color="#FFFFFF"></a-plane>
    <a-sphere _ngcontent-c0="" color="#EF2D5E" material="" position="1.4712425877001691 6.638018750934404 3.9963803531194504" radius="1.25" geometry=""></a-sphere>

  <a-sky src="../assets/sky.png" color="#ECECEC"></a-sky>
</a-scene>